<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet"  href="../../static/porn_site/css/porn_site.css">
</head>
<body>
    {% block header %}
     <header>

            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li>|</li>
                <li><a href="{% url 'actors' %}">Актеры</a></li>
                <li>|</li>
                <li><a>Категория</a></li>
                <li>|</li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'your_account' pk=user.pk %}">{{ user.username }}</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                    <li>|</li>
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
    </header>

    {% endblock header%}

    {% block content %}{% endblock content %}
    {% block pagination %}{% endblock pagination %}
</body>
</html>